[Desktop Entry]
Type=Application
Version=1.0
Name=qMDviewer
GenericName=Markdown Viewer
Comment=View Markdown documents
Exec=qmdviewer %f
Icon=qmdviewer
Terminal=false
Categories=Office;Viewer;Utility;
MimeType=text/markdown;text/x-markdown;
StartupWMClass=qmdviewer
